:root {
    --ligth: #EEE;
    --red: #DD2F09;
    --black: #111010;
   
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'fira sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--ligth);
    color: #fff;
}

header {
    text-align: center;
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

header h1 {
    font-size: 3.5rem;
    font-weight: 300;
    color: var(--black);
    margin-bottom: 1rem;
}

#new-task-form {
    display:block; 
}

input, button{
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

#new-task-input{
    flex: 1 1 0%;
    background-color: var(--ligth);
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    color: var(--black);
    font-size: 1.25rem;
    border: solid 1px black;
    text-align: center;
}
#new-task-input::placeholder{
    color: var(--gray);
}

#new-task-submit {
    color: #fff;
    font-size: 1.75rem; 
    cursor: pointer;  
    border-radius: 1rem;
    align-content: center;
    background-color: blue;
}


#new-task-submit:active {
    opacity: 0.67;
}

main{
    flex: 1 1 0%;
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}
.task-list {
    padding: 1rem;
}

.task-list h2 {
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--black);
    margin-bottom: 1rem;
}

#tasks .task{
    display: flex;
    justify-content: space-between;
    background-color: var(--ligth);
    padding: 1rem;
    border-radius: 1rem;    
    
}

#tasks .task .content{
    flex: 1 1 0%;
    border: solid 1px black;
    border-radius: 1rem;
    
}

#tasks .task .content .text {
    color: var(--black);
    font-size: 1.125rem;
    width: 100%;
    display: block;
    transition: 00.4s;
    text-align: center;
    cursor: pointer;
}

#tasks .task .actions {
    display: flex;
    margin: 0 -0.5rem;
}

.task .actions .delete{
    color:#DD2F09;
    margin-left: 1rem;
    font-size: 25px;
}

.line{
    text-decoration:line-through;
    color: gray;
}